
@font-face {
  font-family: 'subheading';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/fugaz-one/files/fugaz-one-latin-400-normal.woff2) format('woff2'), url(@fontsource/fugaz-one/files/fugaz-one-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'title';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/bungee-shade/files/bungee-shade-latin-400-normal.woff2) format('woff2'), url(@fontsource/bungee-shade/files/bungee-shade-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'body';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(@fontsource-variable/comfortaa/files/comfortaa-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* bungee-inline-latin-400-normal */
@font-face {
  font-family: 'title2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/bungee-inline/files/bungee-inline-latin-400-normal.woff2) format('woff2'), url(@fontsource/bungee-inline/files/bungee-inline-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  font-family: 'body';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(4, 4, 4, 0.87);
  background-color: #ffebcd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
